{% extends "base.html" %}
{% load static %}
{% load emoticons_tags %}
{% load bbcode_tags %}

{% block content %}
    {% if allcomment %}
      {% for comment in allcomment %}
        {% load static %}
          {% if forloop.first %}
          <div class="divider"></div>
          <div class="row">
          <div class="col-sm-12 text-center">
          <b class="page-header-text"> {{ comment.comment_by.user|upper }} COMMENTS </b> <br/>
          </div>
          </div>
          <div class="divider"></div>
          {% endif %}
            <div class="row">
          {% emoticons %}
            <div class="row comment_row">

            <div class="col-sm-2 comment_by">
            <b><a href="{% url 'userProfile' comment.comment_by.user.username|lower %}"> 
            <i class="fa fa-user"></i> {{ comment.comment_by|capfirst }} </a> </b>
            </div>

            <div class="col-sm-10" id="{{ comment.id }}">
            {% if comment.this_comment_quote == null %}
              <p style="color: {{ comment.color }}" class="comment_made"> {{ comment.comment_made|safe|bbcode|linebreaksbr }} </p> 
              {% for pix in comment.comment_pix.all %}
              <img src="{{ pix.file.url }}" alt="No Image"/>
              {% if forloop.last %} <br/><br/> {% endif %}
              {% endfor %}
              <ul class="list-inline">
              {% if user.is_authenticated %}
              <li></li>
              <li>
              <b class="like c{{comment.id}}">   
              {{ comment.total_likes }}
              </b>
              <span id="clike_link" class="cl{{comment.id}}" onclick="myFun('{{comment.id}}')">
              {% if user in comment.comment_likes.all %}
               <span class="like_btn"><i class="fa fa-heart" id="cheart{{comment.id}}" data-toggle="tooltip" title="Unlike"></i></span>
              {% else %}
               <span class="like_btn"><i class="fa fa-heart-o" id="cheart{{comment.id}}" data-toggle="tooltip" title="Like"></i></span>
              {% endif %}
              </span>
              </li> <b>&middot</b>
              <li><a href="{% url 'quote' comment.id %}" class="quote" data-toggle="tooltip" title="Quote"><i class="fa fa-quote-left"></i></a></li> 
              {% if user.username == comment.comment_by.user.username %}
              <li><b>&middot</b></li><li> <a href="{% url 'comment_update' comment.id %}" class="edit" data-toggle="tooltip" title="Edit Comment">
              <i class="fa fa-edit"></i></a> </li> 
              {% endif %}
              <b>&middot</b>
              {% endif %}
              <li>
              <a href="{{ comment.post.get_absolute_url }}?page={{comment.before_me}}#{{comment.id}}"><i class="fa fa-external-link-square" title="{{comment.post.title}}"></i></a>
              </li>
              <li><b class="text-success msg cmsg{{comment.id}}"></b></li>
              <li class="pull-right" class="text-muted"> <b class="fa fa-calendar"></b> {{comment.created|date:"SHORT_DATE_FORMAT"}}, {{comment.created|time:"H:i A"}} </li>
              </ul>
            {% else %}
              <div class="quote_comment"> 
              <b class="quote_comment_by"> <a href="{% url 'userProfile' comment.this_comment_quote.comment_by.user.username|lower %}"> 
              <i class="fa fa-user"></i> {{ comment.this_comment_quote.comment_by|capfirst }} </a> </b><br/> 
              <i class="quote_comment_made">{{ comment.this_comment_quote.comment_made|safe|bbcode|linebreaksbr }} </i>
              </div>
              <p style="color: {{ comment.color }}"> {{ comment.comment_made|safe|bbcode|linebreaksbr }} </p>
              {% for pix in comment.comment_pix.all %}
              <img src="{{ pix.file.url }}" alt="No Image"/>
              {% if forloop.last %} <br/><br/> {% endif %}
              {% endfor %}
              <ul class="list-inline">
              {% if user.is_authenticated %}
              <li></li>
              <li>
              <b class="like c{{comment.id}}">  
              {{ comment.total_likes }}
              </b>
              <span id="clike_link" class="cl{{comment.id}}" onclick="myFun('{{comment.id}}')">
              {% if user in comment.comment_likes.all %}
               <span class="like_btn"><i class="fa fa-heart" id="cheart{{comment.id}}" data-toggle="tooltip" title="Unlike"></i></span>
              {% else %}
               <span class="like_btn"><i class="fa fa-heart-o" id="cheart{{comment.id}}" data-toggle="tooltip" title="Like"></i></span>
              {% endif %}
              </span>
              </li> <b>&middot</b>
              <li><a href="{% url 'quote' comment.id %}" class="quote" data-toggle="tooltip" title="Quote Comment"><i class="fa fa-quote-left"></i></a></li> 
              {% if user.username == comment.comment_by.user.username %}
              <li><b>&middot</b></li><li> <a href="{% url 'comment_update' comment.id %}" class="edit" data-toggle="tooltip" title="Edit Comment"> <i class="fa fa-edit"></i></a> </li>  
              {% endif %}
              <b>&middot</b>
              {% endif %}
              <li>
              <a href="{{ comment.post.get_absolute_url }}?page={{comment.before_me}}#{{comment.id}}"><i class="fa fa-external-link-square" title="{{comment.post.title}}"></i></a>
              </li>
              <li><b class="text-success msg cmsg{{comment.id}}"></b></li>
              <li class="pull-right" class="text-muted"> <b class="fa fa-calendar"></b> {{comment.created|date:"SHORT_DATE_FORMAT"}}, {{comment.created|time:"H:i A"}} </li>
              </ul>
            {% endif %}
            </div>
            </div>
            <div class="divider ctrldivider"></div>
            {% endemoticons %}
                  </div>
            <script type="text/javascript">
              
              $('#plike_link').click(function(){
                var name = $(this).attr('name'); var likename = '.p'+name; var msgname = '.pmsg'+name; var likelink = '.pl'+name;
                $.ajax({
                  type: "POST",
                  url: "{% url 'post_like' %}",
                  data: {'slug': name, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                  dataType: "json",
                  success: function(response) {
                    if (response.message == 'You liked this post') { $('#pheart').attr("class", "fa fa-heart"); $('#pheart').attr("title", "Unlike"); }
                    else{ $('#pheart').attr("class", "fa fa-heart-o"); $('#pheart').attr("title", "Like");};
                    $(likename).text((response.likes_count));
                    $(msgname).text((response.message));
                  },
                  error: function(rs, e) {
                    alert(rs.responseText);
                  }
                });
              });

              function myFun(a){
                var name = a; var likename = '.c'+name; var msgname = '.cmsg'+name; var likelink = '.cl'+name; 
                var cheart = '#cheart'+name
                $.ajax({
                  type: "POST",
                  url: "{% url 'comment_like' %}",
                  data: {'slug': name, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                  dataType: "json",
                  success: function(response) {
                    if (response.message == 'You liked this comment') { $(cheart).attr("class", "fa fa-heart"); $(cheart).attr("title", "Unlike");}
                    else{ $(cheart).attr("class", "fa fa-heart-o"); $(cheart).attr("title", "Like");};
                    $(likename).text((response.likes_count));
                    $(msgname).text((response.message));
                  },
                  error: function(rs, e) {
                    alert(rs.responseText);
                  }
                });
                // $.post("{% url 'comment_like' %}?post=yes", {'slug': name, 'csrfmiddlewaretoken': '{{ csrf_token }}'}
                // )
              }
            </script>
      {% endfor %} 
    {% else %}
      <div class="divider"></div>
      <div class="row"><div class="col-sm-12 text-center"><b>Error 404: Page Not Found</b> <br/>
      <p> Goto <a href="{% url 'home' %}">Homepage</a> </p> </div></div>
      <div class="divider"></div>
    {% endif %}   

<script type="text/javascript">
  function Pin_Post(a){
    var postid = a; var msgname = '.pinmsg'+postid; var pinimg = '#pinimg'+postid;
    $.ajax({
      type: "POST",
      url: "{% url 'pin_post' %}",
      data: {'slug': postid, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
      dataType: "json",
      success: function(response) {
        if (response.message == 'You starred this post') { $(pinimg).attr("class", "fa fa-star"); }
        else{ $(pinimg).attr("class", "fa fa-star-o" ); };
        // if (response.likes_count <= 1) { $(likename).text((response.likes_count) + ' like'); }
        // else{ $(likename).text((response.likes_count) + ' likes'); };
        $(msgname).text((response.message));
      },
      error: function(rs, e) {
        alert(rs.responseText);
      }
    });
  }
</script>
{% endblock %}  
{% block pagination %}
{% if allcomment.has_other_pages %}
<div class="row"><div class="col-sm-12 text-center">
  <ul class="list-inline">
    {% if allcomment.has_previous %}
      <li> <a href="?page={{ allcomment.previous_page_number }}">&laquo;</a> </li>
    {% else %}
      <li class="disabled"> <span> &laquo; </span> </li>
    {% endif %}

    {% for i in allcomment.page_range %}
      {% if not i %}
        <li> ... </li>
      {% else %}
        <li> <a href="?page={{ i }}"> ({{ i }}) </a> </li>
      {% endif %}
    {% endfor %}

    {% if allcomment.has_next %}
      <li> <a href="?page={{ allcomment.next_page_number }}">&raquo;</a> </li>
    {% else %}
      <li class="disabled"> <span> &raquo; </span> </li>
    {% endif %}
  </ul>
</div></div>
{% endif %}
{% endblock %} 



